{% load static %}
<!DOCTYPE html>
<br lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style-story6.css'%}">
    <title></title>
</head>
<br>
<br class="jumbotron bg-light">
<h3 class="text-center">Hi! How are you?</h3></br></br>
    <div class="card mx-auto justify-content-center" style="width: 30rem;">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" id ="submit" class="btn text-light ml-5" style="background-color: #07b3b7; min-width: 78%; font-size: 80%;">Submit</button>
            </form>
        </div>
    </div>
    </br></br><h3 class="text-center">Posted Status</h3>
    {% for status in status %}
    <p class="text-center"; style="font-size: 100%;" id = 'status'> {{ status.status }} | {{ status.date }}</p>
    {% endfor %}
</div>
</body>
</html>
